[Unit]
Description=Pomelo MQTT Client Service

[Service]
ExecStart=/usr/bin/python3 /usr/bin/pomelo-iot/mqtt-client-dev/mqtt-app.py

[Install]
WantedBy=multi-user.target
